/* CSS Document */

body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,a,input,dl,dt,dd,img { margin:0; padding:0; font-family:"?бщииик??oи▓","??им?",arial,verdana,sans-serif; color:#606060; border:none; }
ol,ul,ol li,ul li { list-style:none;}
a { text-decoration:none; }
em,i{ font-style:normal; }

/*clearfix*/
.clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }
.clearfix { zoom:1; }

.fl{ float:left; }
.fr{ float:right; }
.clear{ overflow:hidden; }

.main_bg{background:#0090F0;}
.crm_margin{width:1200px; margin:0 auto;}
.crm_center{padding:20px 0; overflow:hidden;}

/* back_pwd */
.crm_center .back_pwd_info{width:600px; margin:0 auto;}
.crm_center .back_pwd_info dl{margin-bottom: 30px; overflow: hidden;}
.crm_center .back_pwd_info dt{border-bottom: 1px solid #EFEFF0; margin-bottom: 15px; padding-bottom: 5px;}
.crm_center .back_pwd_info dt span{display: inline-block; color:#555; height:20px; line-height: 20px; background-repeat: no-repeat; background-position: left center; padding-left: 25px;}
.crm_center .back_pwd_info dt span.iphone_back{background-image: url('../image/Email_icon.jpg');}
.crm_center .back_pwd_info dt span.pwd_back{background-image: url('../image/pwd_icon.jpg');}
.crm_center .back_pwd_info dd{margin-bottom: 15px;}
.crm_center .back_pwd_info dd .in_text,
.crm_center .back_pwd_info dd .in_yz{height:48px; padding:0 5px; line-height: 48px; border:1px solid #DFDFDF; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px;}
.crm_center .back_pwd_info dd .in_text{width:588px;}
.crm_center .back_pwd_info dd .in_yz{width:430px; margin-right: 15px; float:left;}
.crm_center .back_pwd_info dd .obtain_info{display: inline-block; width: 138px; height:50px; line-height: 50px; text-align: center; color:#fff; font-size: 14px; background:#0896FB; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px;}
.crm_center .back_pwd_info dd.yz_list .in_yz,
.crm_center .back_pwd_info dd.yz_list .yz_img{float:left;}
.crm_center .back_pwd_info dd.yz_list .yz_img{display:block; width:100px; height:48px;}
.crm_center .back_pwd_info dd.yz_list .yz_img img{width:100px; height:48px;}
.crm_center .back_pwd_info dd.yz_list a{float:right; line-height: 50px; font-size: 14px;}
.crm_center .back_pwd_info dd.submit_btn{text-align: center;}
.crm_center .back_pwd_info dd.submit_btn a{display: inline-block; width:240px; height:50px; line-height: 50px; text-align: center; color:#fff; background:#0896FB; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px;}
.crm_center .back_pwd_info dd .alt_info{line-height: 20px; height:20px; margin-top: 5px; color:#ffa200; font-size: 14px;}
.crm_center .back_pwd_info dd .pwd_strength{width:605px;}
.crm_center .back_pwd_info dd .pwd_strength li{float:left; display: block; background: #ccc; width:196px; height:20px; line-height: 20px; text-align: center; color:#fff; font-size: 14px; margin-right: 5px;}
.crm_center .back_pwd_info dd .pwd_strength li.strength1{background: #BAECB6;}
.crm_center .back_pwd_info dd .pwd_strength li.strength2{background: #73D46A;}
.crm_center .back_pwd_info dd .pwd_strength li.strength3{background: #0AB411;}

.crm_center .validate_Email .validate_img{float: left; display: inline-block; width: 56px; height: 45px; margin-right: 10px;}
.crm_center .validate_Email .validate_text{float: left; width: 532px;}
.crm_center .validate_Email .validate_text h2{font-size: 16px; margin-bottom: 15px; font-weight: normal;}
.crm_center .validate_Email .validate_text p{font-size: 14px; margin-bottom: 10px; color:#888;}
.crm_center .validate_Email .validate_text p a{display: inline-block; border:1px solid #1398fd; color:#1398fd; padding:5px 10px; margin-left: 10px;}





